@font-face {
  font-family: 'CustomAndroid';
  src: url("CustomAndroid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Source Sans Pro", Calibri, Arial, serif;
  overflow: hidden;
  font-size: 100%;
  height: 100%;
  width: 100%;
  clear: both;
  color: #fff; }

body {
  background: url(image.png) #898989 repeat;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0; }

.demo {
  position: relative; }

.figure {
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  position: absolute;
  width: 19%;
  left: 50%;
  top: 50%; }
  .figure[data-lollipop="false"] #sweet {
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7); }
  .figure[data-lollipop="false"] .stick,
  .figure[data-lollipop="false"] .text {
    visibility: hidden;
    opacity: 0; }
  .figure[data-lollipop="true"] #sweet {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15); }
  .figure[data-lollipop="true"] .stick,
  .figure[data-lollipop="true"] .text {
    visibility: visible;
    opacity: 1; }
  .figure #sweet {
    -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0px 0px 17px rgba(0, 0, 0, .4);
    -ms-box-shadow: 0px 0px 17px rgba(0, 0, 0, .4);
    -o-box-shadow: 0px 0px 17px rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 17px rgba(0, 0, 0, .4);
    -webkit-transition: background-color .1s linear, transform .3s ease;
    -moz-transition: background-color .1s linear, transform .3s ease;
    -ms-transition: background-color .1s linear, transform .3s ease;
    -o-transition: background-color .1s linear, transform .3s ease;
    transition: background-color .1s linear, transform .3s ease;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    margin: 0 auto;
    height: 180px;
    width: 186px; }
    .figure #sweet .circle {
      -webkit-transition: background-color .1s linear;
      -moz-transition: background-color .1s linear;
      -ms-transition: background-color .1s linear;
      -o-transition: background-color .1s linear;
      transition: background-color .1s linear;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      position: absolute;
      height: 85px;
      width: 85px;
      left: 28px;
      top: 23px; }
    .figure #sweet .stick,
    .figure #sweet .text {
      -webkit-transition: visiblilty, opacity .2s ease .1s;
      -moz-transition: visiblilty, opacity .2s ease .1s;
      -ms-transition: visiblilty, opacity .2s ease .1s;
      -o-transition: visiblilty, opacity .2s ease .1s;
      transition: visiblilty, opacity .2s ease .1s; }
    .figure #sweet.purple {
      background-color: #9C28B1; }
      .figure #sweet.purple .circle {
        background-color: #A235B6; }
    .figure #sweet.brown {
      background-color: #795547; }
      .figure #sweet.brown .circle {
        background-color: #826054; }
    .figure #sweet.yellow {
      background-color: #FAE636; }
      .figure #sweet.yellow .circle {
        background-color: #FDEE3E; }
    .figure #sweet.pink {
      background-color: #F06292; }
      .figure #sweet.pink .circle {
        background-color: #F96B9B; }
    .figure #sweet.orange {
      background-color: #FF9801; }
      .figure #sweet.orange .circle {
        background-color: #FFA316; }
    .figure #sweet.lightgreen {
      background-color: #C4CC45; }
      .figure #sweet.lightgreen .circle {
        background-color: #CBD34C; }
    .figure #sweet .text {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      letter-spacing: .05em;
      font-family: "CustomAndroid", "Roboto", Arial, Calibri, serif;
      position: absolute;
      text-align: center;
      font-weight: bold;
      font-size: 2.3em;
      left: 50%;
      top: 50%; }
  .figure .stick {
    -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 17px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0px 0px 17px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 0px 17px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 17px rgba(0, 0, 0, .3);
    background: -webkit-linear-gradient(left, rgb(248, 255, 255) 0%, rgb(204, 204, 204) 59%, rgb(155, 176, 181) 100%);
    background: -o-linear-gradient(left, rgb(248, 255, 255) 0%, rgb(204, 204, 204) 59%, rgb(155, 176, 181) 100%);
    background: -ms-linear-gradient(left, rgb(248, 255, 255) 0%, rgb(204, 204, 204) 59%, rgb(155, 176, 181) 100%);
    background: -moz-linear-gradient(left, rgb(248, 255, 255) 0%, rgb(204, 204, 204) 59%, rgb(155, 176, 181) 100%);
    background: linear-gradient(to right, rgb(248, 255, 255) 0%, rgb(204, 204, 204) 59%, rgb(155, 176, 181) 100%);
    margin: -5px auto 0;
    position: relative;
    height: 250px;
    z-index: -1;
    width: 23px; }

/*# sourceMappingURL=style.css.map */
